.chat {
  grid-area: chat;
  height: calc(100vh - #{$video-thumbnails-height} - 2rem - 2rem);
  position: relative;
  border-radius: 10px;

  &-messages {
    height: calc(100% - #{$icon-size} - 1rem);
    border-radius: 10px;
    background: $chromatic-2;
    padding: 0 0.5rem;
    overflow: scroll;
    box-shadow: $primary-color-light-1 1px 1px 10px;
  }

  &-message {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem 0;
    max-width: 70%;
    width: auto;
    border-radius: 10px;
  }

  &-other-student {
    .chat-message {
      background: $primary-color-light-2;
      transition: background 0.125s ease-in-out;

      &:hover {
        background: $primary-color-light-1;
      }
    }
  }

  &-you-student {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .chat-message {
      background: $secondary-color;
      transition: background 0.125s ease-in-out;

      &:hover {
        background: $secondary-color-light-1;
      }
    }
  }

  &-controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;

    &-input {
      outline: none;
      height: #{$icon-size};
      width: calc(100% - (2 * (#{$icon-size} + 0.5rem)));
      border-radius: 10px;
      padding-left: 0.5rem;
      border: 0;
      font-size: 0.875rem;
    }

    &-chat,
    &-close,
    &-audio {
      border: 0;
      padding: 0;
      width: #{$icon-size};
      height: #{$icon-size};
      border-radius: 10px;
      background: $primary-color;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.125s ease-in-out;

      & img {
        width: auto;
        height: 50%;
      }

      &:hover {
        background: $primary-color-dark-1;
      }
    }

    &-close {
      margin-right: 0.5rem;
    }

    &-audio {
      margin-left: 0.5rem;
      background: $primary-color;
    }
  }
}

.open-chat {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  border: 0;
  padding: 0;
  margin: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: $secondary-color-dark-1;
  box-shadow: $secondary-color-dark-2 1px 1px 5px;
  cursor: pointer;
  transition: background 0.125s ease-in-out;

  & img {
    width: auto;
    height: 50%;
  }

  &:hover {
    background: $secondary-color-dark-2;
  }
}