.search {
  position: relative;
  z-index: 20;
  display: flex;
  width: 100%;
  height: #{$icon-size};
  padding: 0 0.5rem;

  &-input {
    outline: none;
    font-size: 0.875rem;
    height: #{$icon-size};
    width: calc(100% - (4 * (#{$icon-size} + 0.5rem)));
    border-radius: 10px;
    border: 0;
    background: $chromatic-2;
    padding-left: 0.5rem;
    box-shadow: $primary-color-light-1 1px 1px 5px;
  }

  &-photos,
  &-videos,
  &-web,
  &-favorites,
  &-back,
  .content-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    width: #{$icon-size};
    height: #{$icon-size};
    margin-left: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    background: $primary-color-light-1;
    transition: background 0.125s ease-in-out;
    box-shadow: $primary-color-dark-1 1px 1px 5px;

    & img {
      width: auto;
      height: 50%;
    }

    &:hover {
      background: $primary-color;
    }

    &.selected {
      background: $primary-color;
    }
  }

  &-back {
    margin-left: 0;
    margin-right: 0.5rem;
    background: $primary-color;

    &:hover {
      background: $primary-color-dark-1;
    }
  }

  .content-expand {
    background: $primary-color-dark-2;
    box-shadow: $primary-color-dark-1 1px 1px 5px;
  }
}