.video {
  &-container {
    grid-area: header;
  }

  &-wrapper {
    display: flex;
    width: 100%;
    min-height: 100px;
    overflow: scroll hidden;
    white-space: nowrap;
  }

  &-toggle-thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0 unset unset 0;
    top: 0;
    left: 0;
    z-index: 10;
    border: 0;
    padding: 0;
    margin: 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: $primary-color;
    box-shadow: $primary-color-light-2 1px 1px 5px;
    cursor: pointer;
    transition: background 0.125s ease-in-out;

    & > img {
      width: auto;
      height: 50%;
    }

    &:hover {
      background: $primary-color-dark-1;
    }
  }

  &-thumbnail {
    position: relative;
    border-radius: 10px;
    min-width: 120px;
    max-width: 240px;
    margin: 0 0.5rem;
    width: calc(100% / 10);
    height: $video-thumbnails-height;
    background: $primary-color-light-1;
    font-size: 0;
    box-shadow: $secondary-color-dark-2 1px 1px 5px;

    & > img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &-thumbnail:first-child {
    margin-left: 0;
  }

  &-controls {
    display: flex;
    width: auto;
    height: 20px;
    position: absolute;
    inset: unset unset 0 0;
    bottom: 0;
    left: 0;
  }

  &-control {
    border: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    background: $primary-color;
    width: 20px;
    height: 100%;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $primary-color-dark-1 1px 1px 5px;
    transition: background 0.125s ease-in-out;

    & > img {
      width: auto;
      height: 50%;
    }

    &:hover {
      background: $primary-color-dark-1;
    }

    &.audio-off,
    &.video-off {
      background: $secondary-color-dark-1;
      transition: background 0.125s ease-in-out;

      &:hover {
        background: $secondary-color-dark-2;
      }
    }
  }
}