section(class="chat")
  div(class="chat-wrapper")
    div(class="chat-messages")
      div(class="chat-other-student")
        p(class="chat-message") Lorem ipsum dolor
        p(class="chat-message") Facere, laboriosam ut veniam obcaecati officia
        p(class="chat-message") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?
      div(class="chat-you-student")
        p(class="chat-message") Dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Lorem ipsum dolor sit amet consectetur
      div(class="chat-other-student")
        p(class="chat-message") Lorem ipsum dolor
        p(class="chat-message") Facere, laboriosam ut veniam obcaecati officia
        p(class="chat-message") Dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Lorem ipsum dolor sit amet consectetur
      div(class="chat-you-student")
        p(class="chat-message") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Lorem ipsum dolor sit amet consectetur
      div(class="chat-other-student")
        p(class="chat-message") Lorem ipsum dolor
        p(class="chat-message") Facere, laboriosam ut veniam obcaecati officia
        p(class="chat-message") Dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Lorem ipsum dolor sit amet consectetur
      div(class="chat-you-student")
        p(class="chat-message") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Dolorem blanditiis saepe natus fugit?
        p(class="chat-message") Lorem ipsum dolor sit amet consectetur
    div(class="chat-controls")
      button(class="chat-controls-close")
        img(src=require("../../assets/icon-close.svg").default, alt="", srcset="")
      button(class="chat-controls-expand")
        img(src=require("../../assets/icon-right-chevron.svg").default, alt="", srcset="")
      input(class="chat-controls-input" type="text" placeholder="Escribe tu mensaje")
      button(class="chat-controls-audio")
        img(src=require("../../assets/icon-audio.svg").default, alt="", srcset="")