$primary-color: #227BCD;
$secondary-color: #CD227B;
$chromatic-1: #222222;
$chromatic-2: #FEFEFE;
$chromatic-3: #EAEAEA;

$variations: (-80%, -40%, 40%, 80%);

$primary-color-dark-2: color.scale($primary-color, $lightness: list.nth($variations, 1));
$primary-color-dark-1: color.scale($primary-color, $lightness: list.nth($variations, 2));
$primary-color-light-1: color.scale($primary-color, $lightness: list.nth($variations, 3));
$primary-color-light-2: color.scale($primary-color, $lightness: list.nth($variations, 4));

$secondary-color-dark-2: color.scale($secondary-color, $lightness: list.nth($variations, 1));
$secondary-color-dark-1: color.scale($secondary-color, $lightness: list.nth($variations, 2));
$secondary-color-light-1: color.scale($secondary-color, $lightness: list.nth($variations, 3));
$secondary-color-light-2: color.scale($secondary-color, $lightness: list.nth($variations, 4));

$video-thumbnails-height: 80px;