<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet")
    title Language Sensation Template
  body
    div(class="layout-container")
      include ./modules/thumbnails.pug
      include ./modules/chat.pug
      include ./modules/viewer.pug
      button(class="open-chat hide")
        img(src=require("../assets/icon-chat.svg").default, alt="", srcset="")
