div(class="content-container list favorites hide")
  div(class="content-item")
    a(class="content-text" href="https://www.google.com/", target="_blank", rel="noopener noreferrer") https://www.google.com/
    p(class="content-text") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia
  div(class="content-item")
    a(class="content-text" href="https://www.facebook.com/", target="_blank", rel="noopener noreferrer") https://www.facebook.com/
    p(class="content-text") Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia
  div(class="content-item")
    a(class="content-text" href="https://www.amazon.com/", target="_blank", rel="noopener noreferrer") https://www.amazon.com/
    p(class="content-text") Facere, laboriosam ut veniam obcaecati officia. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Hic magni repellendus esse dolorem blanditiis saepe natus fugit?. Lorem ipsum dolor sit amet consectetur. Facere, laboriosam ut veniam obcaecati officia
  div(class="content-item")
    a(class="content-text" href="https://www.twitter.com/", target="_blank", rel="noopener noreferrer") https://www.twitter.com/
    p(class="content-text") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?
  div(class="content-item")
    a(class="content-text" href="https://www.linkedin.com/", target="_blank", rel="noopener noreferrer") https://www.linkedin.com/
    p(class="content-text") Facere, laboriosam ut veniam obcaecati officia
  div(class="content-item")
    a(class="content-text" href="https://www.instagram.com/", target="_blank", rel="noopener noreferrer") https://www.instagram.com/
    p(class="content-text") Lorem ipsum dolor sit amet consectetur
  div(class="content-item")
    a(class="content-text" href="https://sass-lang.com/", target="_blank", rel="noopener noreferrer") https://sass-lang.com/
    p(class="content-text") Lorem ipsum dolor
  div(class="content-item")
    a(class="content-text" href="https://pugjs.org", target="_blank", rel="noopener noreferrer") https://pugjs.org
    p(class="content-text") Hic magni repellendus esse dolorem blanditiis saepe natus fugit?
  div(class="content-item")
    a(class="content-text" href="https://about.gitlab.com/", target="_blank", rel="noopener noreferrer") https://about.gitlab.com/
    p(class="content-text") Dolorem blanditiis saepe natus fugit?
  div(class="content-item")
    a(class="content-text" href="https://outlook.live.com", target="_blank", rel="noopener noreferrer") https://outlook.live.com
    p(class="content-text") Facere, laboriosam ut veniam obcaecati officia